@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
}

p,
div,
span {
  font-family: 'Montserrat', sans-serif;
}

a {
  @apply text-primary;
}

a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;
